.about {
	background-image: url(../img/menu1.jpg);
	background-repeat: no-repeat;
	-webkit-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}
.tour {
	background-image: url(../img/menu2.jpg);
	background-repeat: no-repeat;
	-webkit-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}
.photography {
	background-image: url(../img/menu3.jpg);
	background-repeat: no-repeat;
	-webkit-transition: all 2s ease;
	-o-transition: all 2s ease;
	transition: all 2s ease;
}
.meun-item, .meun-item a {
	width: 122px;
	height: 64px;
	display: inline-block;
}
.about:hover {
	background-image: url(../img/menu1_o.jpg);
}
.tour:hover {
	background-image: url(../img/menu2_o.jpg);
}
.photography:hover {
	background-image: url(../img/menu3_o.jpg);
}
.free {
	float: right;


}


.header {
	height: 200px;
	padding-top: 50px;
}

.meun {
	text-align: right;
}
.hr   {
	margin-top: 120px;
}

body {
	background-image: url(../img/bg.gif);
	background-repeat: repeat;
}
.container {
	background-color: #FFFFFF;
}
.section {
	margin-top: 20px;
}
.btn {
	float: left;
	border: 1px solid #B0B0B0;
}
.text {
	font-style: italic;
	color: #6F6F6F;
	font-family: Arial, "Times New Roman";
	font-weight: 300;
	font-size: small;
	text-align: center;
}
.h1-text {
	color: #000000;
	font-family: "微軟正黑體", "標楷體", "新細明體", "細明體";
	font-style: normal;
	text-align: center;
}
.h1-text2 {
	font-family: "微軟正黑體", "標楷體", "新細明體", "細明體";
	color: #4A4A4A;
	font-size: 14px;
	line-height: 2em;
}
